.sidebar-container {
    height: 100%;
    border-right: 1px solid var(--border-color);
    padding: 16px;
    min-width: 68px;
    container-type: inline-size;
    container-name: sidebar;
    transition: width 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar-open {
    width: 250px;
}

.sidebar-closed {
    width: 68px;
}

.onExpanded {
    display: none;
}


@container sidebar (width > 200px) {
    .onExpanded {
        display: block;
    }
}