.sidebar-container {
    height: 100%;
    border-right: 1px solid var(--border-color);
    padding: 16px;
    min-width: 68px;
    container-type: inline-size;
    container-name: sidebar;
    transition: width 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar-open {
    width: 250px;
}

.sidebar-closed {
    width: 68px;
}

.onExpanded {
    opacity: 0;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    pointer-events: none;
}

.navigation-item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.navigation-item a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.navigation-item a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navigation-item a .icon {
    width: 36px;
    height: 36px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}



@container sidebar (width > 200px) {
    .onExpanded {
        opacity: 1;
        pointer-events: pointer;
    }
}