.navbar-container {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title {
    text-transform: uppercase;
    display: flex;
    gap: 16px;
    align-items: center;
}

.title h1 {
    font-size: 22px;
    padding-bottom: 1px;
}

button.sidebar-toggle {
    background-color: var(--background);
    padding: 4px;
    font-size: 28px;
    color: white;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
}

button.sidebar-toggle:hover {
    background-color: #2a2a2a;
}